/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}

/* START -- CSS for Angular App */
.text-info {
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: blue;
	padding: 5px 5px 5px 10px;
	font-size: 110%;
}

.box {
	border-radius: 5px;
	box-shadow: 1px 2px 10px silver;
	padding: 10px;
}

.buttons {
	padding: 20px;
}

.btn-marginTop {
	margin-top: -1px;
}

.container {
	margin: 0 auto;
}

.btn-pos {
	padding: 20px 31px;
	font-size: 20px;
	border-radius: 10px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	width: 200px !important;
	height: 110px !important;
	text-align: center;
}

btn-summary {
	margin-right: 5px;
}

btn-marginTop {
	margin-top: 5px;
}

.badge-left {
	float: none
}

.list-group-item>.badge {
	float: none;
}
/* END -- CSS for Angular App */